body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.timeline{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.timeline>div{
  margin: 0 auto;
}

.timeline-post-card-header{
  display:flex;
  flex-direction: row;
  position: relative;
}

.timeline-post-card-header>p:nth-child(2){
  font-size: 80%;
  position:absolute;
  right: 0;
  display:inline-block;
  margin-top: 0.5vh;
}

.timeline-post-card-header>h3{
  font-size: 120%;
  position: absolute;
  left: 0;
  padding:0;
  margin:0;
  margin-left: 1vw;
  display:inline-block;
}

.post-detail-accordion{
}

.timeline-post-card-wrapper{
  margin-bottom: 10vh;
}

Footer{
  /* margin-top: 1rem;
  padding: 0.3rem;
  background-color: #1976d2;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center; */

    background-color: #1976d2;
    padding: 0.3rem;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    display:flex;
    justify-content: center;
}

#buttonDiv{
  margin: 0;
  top: auto;
  right: 20px;
  bottom: 100px;
  left: auto;
  position: fixed;
}

#addGroupDiv{
  margin: 0;
  top: auto;
  right: 20px;
  bottom: 160px;
  left: auto;
  position: fixed;
}

/* #buttonDiv:hover{
  background-color: #5a9bdc;
  cursor: pointer;
} */

@media screen and (min-width: 1300px) {
  Footer {
    padding: 1rem;
  }

}

.fc-media-screen{
  width: 70vw;
  margin: 0 auto;
}
  #buttonDiv{
    bottom: 80px;
  }

/* .fc-daygrid-day-frame:hover{
  background-color: #1976d2
} */

 
